<div id="content-pane">
    <div class="header-text">
        <h1>Education:</h1>
    </div>

    <div class="education-main-div">
      <div class="education-divider" *ngFor="let education of educationList">
        <div class="education-divider-header">
          <h3>{{education.title}}</h3>
        </div>
        <div class="education-divider-description descriptions">
          <p *ngFor="let text of education.textList">{{text.text}}</p>
        </div>
      </div>
    </div>
    
    <div class="back-btn">
        <a  routerLink="/menu">
          <img src="{{backBtnURL}}" width="25%" height="100%">
        </a>
      </div>
</div>