/*
* Content Pane Classifications:
*/
.header-text {
    width: 50%;
    height: 10%;

    margin: 2%;

    animation-name: text-containers;
    animation-duration: 1s;
}

.education-main-div {
    width: 95%;
    height: 70%;
    margin: 2%;

    display: flex;
}

.education-divider {
    width: 50%;
    height: 100%;
}

.education-divider-header {
    width: 90%;
    height: 15%;
    margin: 2%;
}

.education-divider-description {
    width: 95%;
    height: 75%;
    margin: 2%;
}