<div id="content-pane">
    <div class="header-text">
        <h1>Education:</h1>
    </div>

    <div class="education-main-div">
      <div class="education-divider">
        <div class="education-divider-header">
          <h3>Basic and Secondary School of Santa Cruz</h3>
        </div>
        <div class="education-divider-description descriptions">
          <p>School located on Madeira Island, in the municipality of Santa Cruz, it was in this small secondary school that I acquired the <b>Computer Operator Course</b> and the <b>Computer Equipment Management Course</b>. They gave equivalence to the 12th.</p>
          <p><b>Computer Operator:</b> Prepare young people for professional performance as Computer Operator so that, independently and according to technical guidelines, they proceed with the installation and configuration of office software, local networks, Internet and other computer applications, as well as perform the maintenance of microcomputers, peripherals and local networks.</p>
          <p>
            The <b>computer equipment management technician</b> also has a solid background in programming languages ​​related to his professional profile.</p>
        </div>
      </div>
      <div class="education-divider">
        <div class="education-divider-header">
          <h3>University of Madeira</h3>
        </div>
        <div class="education-divider-description descriptions">
          <p>Main University of the Island of Madeira, at the same time I concluded the professional higher technical course in <b>Technologies and Programming of Information System</b>.</p>
          <p>The professional superior technician in Information Systems Technologies and Programming will be able, independently or integrated into a team, to plan, implement and maintain application software oriented to the web, distributed or mobile context, as well as to design and optimize Systems Information in diverse contexts, with the capacity to adapt to emerging technologies.</p>
          <p>The Professional Superior Technician in Technologies and Programming of Information Systems prepares superior technicians with a professional profile of level V, giving competences in the planning, implementation and maintenance of Information Systems.</p>
        </div>
      </div>
    </div>
    
    <div class="back-btn">
        <a  routerLink="/menu">
          <img src="../../assets/images/icon/go-back-arrow.png" width="25%" height="100%">
        </a>
      </div>
</div>