<div id="content-pane">
    <div class="header-text">
        <h1>Skills:</h1>
    </div>


    <div class="skills-list">
      <div class="skill-slot" *ngFor="let skill of skills">
        <div class="skill-slot-header">
          <h2>{{skill.label}}</h2>
        </div>
        <div class="skill-slot-avaliation-slot">
          <img src="{{skill.imgURL}}" width="98%" height="98%">
        </div>
      </div>
    </div>
    
    <div class="back-btn">
      <a  routerLink="/menu">
        <img src="{{backBtnURL}}" width="25%" height="100%">
      </a>
    </div>
</div>