<div id="background-black">
  <!-- START OF BACKGROUND-BLACK -->
  <div id="github-div">
    <a href="https://github.com/Segredo12" target="_blank">
      <img src="assets/images/icon/github_icon.png" height="50px" width="50px">
    </a>
  </div>
  <div id="linkedin-div">
    <a href="https://www.linkedin.com/in/oct%C3%A1vio-marques-0896/" target="_blank">
      <img src="assets/images/icon/linkedin_icon.png" height="50px" width="50px">
    </a>
  </div>
  <div id="container">
    <router-outlet></router-outlet>
  
    <footer id="footer">
      <h3 id="footer-text">@Copyright Octávio Marques Portfolio 2020</h3>
    </footer>
  </div>
  <!-- END OF BACKGROUND-BLACK -->
</div>