<div id="background-black">
  <!-- START OF BACKGROUND-BLACK -->
  <div id="github-div">
    <a href="https://github.com/Segredo12" target="_blank">
      <img src="assets/images/icon/github_icon.png" height="50px" width="50px">
    </a>
  </div>
  <div id="linkedin-div">
    <a href="https://www.linkedin.com/in/oct%C3%A1vio-marques-0896/" target="_blank">
      <img src="assets/images/icon/linkedin_icon.png" height="50px" width="50px">
    </a>
  </div>
  <div id="container">
    <div id="menu-choice">
      <div id="menu-btn">
        <a class="basic-btn" href="#">Who Am I</a>
      </div>
      <div id="menu-btn">
        <a class="basic-btn" href="#">Education</a>
      </div>
      <div id="menu-btn">
        <a class="basic-btn" href="#">Projects</a>
      </div>
      <div id="menu-btn">
        <a class="basic-btn" href="#">Skills</a>
      </div>
    </div>
  
    <footer id="footer">
      <h3 id="footer-text">@Copyright Octávio Marques Portfolio 2020</h3>
    </footer>
  </div>
  <!-- END OF BACKGROUND-BLACK -->
</div>


<router-outlet></router-outlet>