/*
* Content Pane Classifications:
*/
@keyframes content-pane-anim {
    0% {width: 1vw; height: 1vh;}
    100% {width: 75vw; height: 75vh;}
}

@keyframes text-containers {
    0% {position: relative; z-index: -1;}
}



.header-text {
    width: 50%;
    height: 10%;

    margin: 2%;

    animation-name: text-containers;
    animation-duration: 1s;
}

.description-text {
    width: 90%;
    height: 70%;

    margin: 2%;

    animation-name: text-containers;
    animation-duration: 1s;
}
